@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
  }

.nav-item{
font-family: poppins;
font-size: 20px;
}

.nav-link {
    padding: 0 5px 0 5px;
    position: relative;
  }


  .nav-link:before{
      content: " / ";
      position: absolute;
      right: 0;
      top : 10px;
  }

 
