@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
  }

  @font-face {
    font-family: opensans;
    src: url(../fonts/open-sans.ttf);
  }


.nav-item{
font-family: poppins;
font-size: 17px;
}

.nav-link {
    padding: 15px 5px 0 5px;
    position: relative;
    
  }


  .slash::after{
      content: " \00a0   / ";
      position: relative;
      right: 0;
      
      margin-right: 10px;
      height: 5px;
  }

  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 60px;
    margin-bottom: 60px;
}
 
.card-price{
  font-weight: bold;
  float: right;
}



.nav-color{
background-color:  #dbdbd4;
}

.navbar-brand{
  
}

.navbar{
  border-bottom: 1px solid ;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.nav-home{
  font-family: opensans;
  font-size: 40px;
  margin-left: 20px;
  margin-bottom: 0px;
}