:root {
  --background: #f8f5f4;
 
}

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
  }

  @font-face {
    font-family: opensans;
    src: url(../fonts/open-sans.ttf);
  }



.nav-item{
font-family: poppins;
font-size: 17px;
}

.nav-link {
    padding: 15px 5px 0 5px;
    position: relative;
    
  }


  .slash::after{
      content: " \00a0   / ";
      position: relative;
      right: 0;
      
      margin-right: 10px;
      height: 5px;
  }

  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 60px;
    margin-bottom: 60px;
}
 
.card-price{
  font-weight: bold;
  float: right;
}



.nav-color{
background-color:  var(--background);
}


.navbar{
  border-bottom: 1px solid ;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.nav-home{
  font-family: opensans;
  font-size: 45px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-right: 29px;
 
}

.drop-link {
  border-radius: 0px;
  background-color: chartreuse;
}

.login-box {
  
  height: auto;
  background: var(--background);
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-card-header{
  font-family: opensans;
  text-align: center;
  border-bottom:1px solid black !important ;
  font-size: 40px;
  background-color: var(--background) !important;
}

.card{
  border: 1px solid black !important;
}

input[type="email"],
input[type="password"],
input[type="text"],
select.form-control {
  background: var(--background);
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: var(--background);
}

label,.btn{
  font-family: poppins !important;
}

.my-btn{
  border-radius: 0px !important;
  border:  1px solid black !important;
  transition-duration: 0.4s;
  background-color: var(--background);
  text-decoration: none !important;
  color: black !important;
}

.my-btn:hover {
  background-color: black !important;
  color: white !important;
}

input[type="checkbox"]:indeterminate + div::after {
  content: "";
  height: 4px;
  width: 60%;
  left: 20%;
  top: calc(50% - 2px);
  position: absolute;
  background: grey;
  border-radius: 1px;
}

.login-center{
  margin-top: 505px;
  margin: auto;
}




div.row:nth-child(1) {

  margin-top: 220px;
}

.navbar-brand{
  border-right: 1px solid  black;
}

body{
  background-color: var(--background) !important;
  min-height: 100vh;
}

.logo-img{
  width: 100px;
  height: 100px;
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro{
  text-decoration: none;
  color: #000000;
 
}

.intro-text{
  font-size: 170px;
  font-family: opensans;
}

.intro-img{
  width: 355px !important;
  height: 355px !important;
}

.arrow {
	width: 60px;
	height: 82px;
	position: absolute; /* don't forget set container to relative */
	left: 49%;
	margin-left: 0px;
	bottom: 5%;
  z-index:999;
}
/* set arrow styles */
.arrow path {
	stroke: #000000;
	stroke-width: 2px;
	fill: transparent;	
	animation: down 2s infinite;
}
/* arrow keyframe animation */
@keyframes down{
0% { opacity:0 }
25% { opacity:1 }
75% { opacity:0 }
100% { opacity:0 }
}
/* arrow animation delay */
.arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }

.popup:hover {
  cursor: default;
}

.content-heading{
  margin-bottom: 20px;
  font-family: opensans;
}







.cards-row {
  margin-top: 50px;
  padding-top: 50px;
}

.description-text{
  margin-bottom: 10px;
}

.card-img-top{
  height: 310px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.product-card{
  margin-bottom: 30px;
  
  
}

.add-item-text,.back-text{
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}




.my-btn-2{
  border-radius: 0px !important;
  border:  1px solid black !important;
  transition-duration: 0.4s;
  background-color: var(--background);
  text-decoration: none !important;
  color: black !important;
}

.my-btn-2:hover {
  background-color: black !important;
  color: white !important;
}

.item-delete {
  padding: .2rem .3rem;
  position: absolute;
  
  top: 0px;
  right: 0px;
  
  border-radius: 50%;
}

.footer-col-1, .footer-col-2{
  border-right:1px solid black  ;
}

.product-card-body{
  border-top:1px solid black;
}

.delete-form{
  display:inline-block;  
      
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top:1px solid black  ;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 23px;
  height: 2.5rem; 
  text-align: center;
}

.social-icon{
  width: 30px;
  height: 30px;
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  }

  #app{
    min-height: 85vh;
  }

  .filter{
    float: right;
  }
  
  .dropdown-menu-end {
    border-radius: 0 !important;
    background-color: var(--background) !important;
}

.create-item-text{
  font-family: opensans;
  margin-bottom: 50px;
}

.upload-btn{
  width: 60px;
  height: 40px;
}

.create-item-form{
  padding: 10px;
  border:1px solid black  ;
  text-align: center;
}